#pagination {
  text-align: right;
  a {
    font-weight: bold;

    display: inline-block;

    margin: 0 10px;
    padding: 5px 0;

    color: $color-meta;
    &:hover {
      color: $color-link-hover;
    }
    &.prev {
      margin-left: 0;
    }
    &.next {
      margin-right: 0;
    }
  }
}

#fixTitle {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  width: 100%;

  pointer-events: none;
  .title {
    font-size: 28px;

    display: inline-block;

    margin: 0;
    padding: 13px 0;

    background: #fff;
  }
}

@media screen and (max-width: $width-phone) {
  #fixTitle {
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    .title {
      display: block;
    }
  }
}
