@import '../base/variable';

#pagination {
  text-align: right;
  a {
    font-weight: bold;

    display: inline-block;

    padding: 5px 10px;

    color: $color-meta;
    &:hover {
      color: $color-link-hover;
    }
  }
  .prev {
    &::before {
      font-family: $font-icon;

      display: inline-block;

      width: 16px;

      content: '\f053';
      text-align: center;
    }
  }
  .next {
    &::after {
      font-family: $font-icon;

      display: inline-block;

      width: 16px;

      content: '\f054';
      text-align: center;
    }
  }
}
