@import '../base/variable';

.entry {
  .gist {
    line-height: 1.6;

    overflow: auto;

    margin-top: 15px;
    padding: 7px 15px;

    color: #666;
    border: 1px solid $color-border;
    border-radius: 2px;
    background: #eee;
    .gist-file {
      font-family: inherit;
      font-size: .9em;

      margin: 0;

      border: none;
      .gist-data {
        border-bottom: none;
        background: none;
        pre {
          font-family: font-mono;

          padding: 0 !important;
        }
      }
      .gist-meta {
        font-size: 100%;

        margin-top: 5px;
        padding: 0;

        color: $color-meta;
        background: none;
        a {
          color: $color-link;
          &:visited {
            color: $color-link;
          }
        }
      }
    }
  }
  figure {
    margin: 0;
    &.highlight {
      line-height: 2;

      position: relative;

      margin-top: 15px;
      padding: 7px 15px;

      border: 1px solid $color-border;
      border-radius: 2px;
      background: #eee;
      figcaption {
        margin-bottom: 5px;

        color: $color-meta;
        a {
          position: absolute;
          right: 15px;
        }
      }
    }
    pre {
      margin: 0;
      padding: 0;

      border: none;
    }

    table {
      margin-top: 0;

      border-spacing: 0;
      td {
        border: none;
      }
    }

    .gutter {
      padding: 0 15px 0 0;

      text-align: right;

      color: $color-meta;
      border-right: 1px solid $color-border;
    }
    .code {
      padding: 0 0 0 15px;

      color: #2e2e2e;
      border-left: 1px solid #fff;
    }
    .line {
      line-height: 20px;
    }
  }
  pre {
    // Theme: Solarized - Light
    // More theme here: http://softwaremaniacs.org/media/soft/highlight/test.html
    .comment,
    .template_comment,
    .diff .header,
    .doctype,
    .pi,
    .lisp .string,
    .javadoc {
      font-family: $font-serif;
      font-style: italic;

      color: #93a1a1;
    }

    .keyword,
    .winutils,
    .method,
    .addition,
    .css .tag,
    .request,
    .status,
    .nginx .title {
      color: #c6cc02;
    }

    .number,
    .command,
    .string,
    .tag .value,
    .phpdoc,
    .tex .formula,
    .regexp,
    .hexcolor {
      color: #00af3c;
    }

    .title,
    .localvars,
    .chunk,
    .decorator,
    .built_in,
    .identifier,
    .vhdl,
    .literal,
    .id {
      color: #27928f;
    }

    .attribute,
    .variable,
    .lisp .body,
    .smalltalk .number,
    .constant,
    .class .title,
    .parent,
    .haskell .type {
      color: #0e0f24;
    }

    .preprocessor,
    .preprocessor .keyword,
    .shebang,
    .symbol,
    .symbol .string,
    .diff .change,
    .special,
    .attr_selector,
    .important,
    .subst,
    .cdata,
    .clojure .title {
      color: #8e3539;
    }

    .deletion {
      color: #da0c30;
    }
  }
}
