@import '../bower_components/normalize-css/normalize.css';
@import 'base/variable';
@import 'base/layout';
@import 'partial/header';
@import 'partial/article';
@import 'partial/comment';
@import 'partial/index';
@import 'partial/archive';
@import 'partial/widget';
@import 'partial/footer';
@import 'partial/syntax';