// Color
$color-background: #fff;
$color-font: #0d0000;
$color-meta: #4e5359;
$color-border: #7c848c;
$color-link: #63aaff;
$color-link-hover: #000;

// Font
$font-default: 'Microsoft Yahei', sans-serif;
$font-serif: serif;
$font-mono: Monaco, Menlo, Consolas, 'Courier New', monospace;

// Width
$width-wide: 1200px;
/* 1366 * 768 */
$width-normal: 768px;
/* iPhone 6+ 414px */
$width-phone: 500px;
