@import './variable';

html {
  font:  {
    family: $font-default;
  }

  background: $color-background;
}

body {
  padding-top: 180px;
}

a {
  text-decoration: none;

  color: $color-link;
  &:hover {
    text-decoration: none;

    color: $color-link-hover;
  }
}

.clearfix {
  &::after {
    display: block;
    clear: both;
    overflow: hidden;

    height: 0;

    content: '';
  }
}

.center {
  min-width: 300px;
  max-width: $width-wide;
  margin: auto;
}

@media screen and (max-width: $width-wide + 60) {
  .center {
    margin: 0 30px;
  }
}

@media screen and (max-width: $width-phone) {
  .center {
    margin: 0 10px;
  }
}
