$font-icon-path: 'font/fontawesome-webfont';

@font-face {
  font-family: 'FontAwesome';
  font-weight: 200;
  font-style: 300;

  src: url(#{$font-icon-path}.eot?#iefix) format('embedded-opentype'), url(#{$font-icon-path}.woff) format('woff'), url(#{$font-icon-path}.ttf) format('truetype'), url(#{$font-icon-path}.svg#FontAwesomeRegular) format('svg');
}

/* Custom fonts */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);


// Color
$color-background: #F9F9F9;
$color-font: #212121;
$color-meta: #727272;
$color-border: #B5B5B5;
$color-link: #00BBD5;
$color-link-hover: #00BBD5;

// Font
$font-default: 'Roboto', sans-serif;
$font-serif: serif;
$font-mono: 'Roboto Mono', ;
$font-icon: FontAwesome;

// Width
$width-wide: 1200px;
/* 1366 * 768 */
$width-normal: 768px;
/* iPhone 6+ 414px */
$width-phone: 500px;
